<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithms</title>
</head>
<body>
    <form method="POST">
        <label for=inputt></label>
        <label for=inputtr></label>
        <label for=inputtl></label>
        <input id="inputt" name="in" placeholder="Root" required>
        <input id="inputtr" name="in_r" placeholder="Root -> Left" required>
        <input id="inputtl" name="in_l" placeholder="Root -> Right" required>
        <button type="submit">Send!</button>
    </form>
</body>
</html>